<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-2 col-side-container">
      <ul class="side-nav-bar" [(ngModel)]="categorySelected" #category>
        <li *ngFor="let category of categoryList" [value]="category">
          <button (click)="categorySelectFunction()">
            {{ category.name }}
          </button>
        </li>

        <!-- <li>
          <button>ACTION</button>
        </li>
        <li>
          <button>CRIME</button>
        </li>
        <li>
          <button>DRAMA</button>
        </li>
        <li>
          <button>MYSTERY</button>
        </li>
        <li>
          <button>SCI-FY</button>
        </li>
        <li>
          <button>ADVENTURES</button>
        </li> -->
      </ul>
    </div>
    <div class="col-8 col-content-container">
      <div class="row">
        <div class="col-10">
          <form (submit)="searchMovie()">
            <input
              type="search"
              name="movieQuery"
              #box
              [(ngModel)]="movieQuery"
              placeholder="Enter the movie name"
            />
            <button type="submit" class="search-bar-button" value="search">
              <img
                src="../assets/search.png"
                alt=""
                srcset=""
                class="searchImage"
              />
            </button>
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-10">
          <h3>All - {{ categorySelected }}</h3>
          <form (submit)="searchCategory()"></form>
        </div>
      </div>
      <div class="row">
        <div class="col-3 m-1" *ngFor="let item of movieData">
          <mat-card class="example-card" (click)="openDialog()">
            <div class="image-section">
              <img mat-card-image src="{{ item.Poster }}" alt="Movie Photo" />
            </div>
            <mat-card-content>
              <h3>{{ item.Title }}</h3>
            </mat-card-content>
            <p>Year - {{ item.Year }}</p>
            <p>Genre - {{ item.Genre }}</p>
            <p>Actors - {{ item.Actors }}</p>
            <p>Rating - {{ item.Ratings }}</p>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
